<!DOCTYPE html>
<html lang="ko">
<head>
<style type = "text/css">	p{text-align : cennter;}</style>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>ICS</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
		
	</head>
	<body style="overflow:hidden;background-color:#f0f0f0;">
			<div style="overflow:scroll; width:100vw; height:100vh;">

	<td><!--상단 메뉴 인클루드--><% include ./top3_admin.ejs %></td>
    <br><br><br>
    
	<nav>
		<div class="text-center">      
			  <div class="btn-group" style="background-color:white-space">
				<div col-md-3>
				  <span class="input-group-btn">
                              <button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/order';">상점 관리</button>
							<button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/order';">고객 관리</button>
							<button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/order';">디자인 관리</button>
							<button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/order';">게시판 관리</button>
							<button type="button" class="btn btn-outline-secondary btn-lg" onclick="location.href='/order';">주문 관리</button>
				  </span>
				</div>
			  </div>
		</div>
	  </nav>
	  <br><br>

	  <p style="text-align: center;">
		<img src="/images/person.jpg"  with="50" height="50" >
	
	
		<strong>김태훈</strong> 님은 관리자이십니다.</p>

		<br><br><br>
		<td><!--상단 메뉴 인클루드--><% include ./chart.ejs %></td>

		
	<br><br>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>