<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  
    <title>SHOPPING</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>

    <!-- Navigation -->
    <header>
        <nav>
            <div class="text-right">
                <div class="btn-group" style="background-color:white-space">
                    <div col-md-3>
                        <span class="input-group-btn">
                            <a href="/login"><button type="button" class="btn btn-default">로그인</button></a>
                            <a href="/signup"><button type="button" class="btn btn-default">회원가입</button></a>
                            <a href="/service"><button type="button" class="btn btn-default">고객센터</button></a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href='/'>
                    <img class="img-responsive center-block" src="/images/ceo/ics.png" alt="logo">
                </a>
                <br>
                
            </div>
        </div>
</div>
<!-- Text박스로 업소명 입력 및 위치 입력 코드 추가해야됨 -->

		</div>
		<br><br>
				<!-- Centered Tabs -->
        <br><br>


	<div class="container">
		<h1 style="color: #810707;">Login</h1><br><br><br>

		<form id="joinForm" action="/login" method="post">
		  <table class="table table-striped" width = "400">
			<tr>
			  <th>ID</th>
			  <td><input type="text" name="id" id = "id" size = "12" maxLength = "12"></td>
			</tr>
			<tr>
			  <th>PASSWORD</th>
			  <td><input type="password" name="passwd" id = "passwd" size = "12" maxLength = "12"></td>
			</tr>

			  <td colspan="2">

				 <center>
				 <input type="submit"  class="btn btn-primary btn-md" id="btnJoin" name="join" value="로그인">
				 <input type="button"  class="btn btn-info btn-md" id="btnJoin" name="join" value="비밀번호 찾기">
				 </center>

			  </td>
			</tr>
		  </table>
		</form>
	</div>
  </body>
</html>