<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>SHOPPING</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
		
	</head>
<body class="Head_nav" style="font-size:100%;">
	<header>
        <nav>
            <div class="text-right" align="left">
                    <div col-md-3>
                          <a href="/"><button type="button" class="btn btn-default">홈</button></a>
                    </div>
            </div>
        </nav>
	</header>
	
	<article class="container" id="mypage">
		<div class="page-header" style="color:#810707;" align="left">
		<br><br><h1><strong>MyPage</strong></h1></br></br>
		</div>
		<tr>
			<td>
				<form method="post" action="/mypage" onsubmit="return onSubmit()" >
					<table width="20%" bgcolor="transparent" cellpadding="5" cellspacing="1" border="3">
						<tr>
							<td style="color:black; font-size:1em;" align="center">
							
								<a href="/order_list" <strong>주문 내역 조회</strong> </a>
							</td>
						</tr>
						<tr>
							<td style="color:black; font-size:1em;" align="center">
								<strong>회원 정보</strong>
							</td>
						</tr>
						<tr>
							<td style="color:black; font-size:1em;" align="center">
								<strong>관심 상품</strong>
							</td>
							
						</tr>
						<tr>
							<td style="color:black; font-size:1em;" align="center">
								<strong>적립금</strong>
							</td>
							
						</tr>
						<tr>
							<td style="color:black; font-size:1em;" align="center">
								<strong>쿠폰</strong>
							</td>
							
						</tr>
						
					</table>
					<br>
					<br>
				</form>
			</td>
		</tr>
	</article>
	

	<div>
		<
		<p>저희 쇼핑몰을 이용해주셔서 감사합니다.</p>
		<strong>김수진 </strong><p>님은 [FAMILY] 회원이십니다.</p>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>

</body>
</html>
