<!DOCTYPE html>
<html lang="ko">
<head>
<style type = "text/css">	p{text-align : cennter;}</style>

	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>ICS</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
		
	</head>
<body >
	<div style="overflow:scroll; width:100vw; height:100vh;">

	<td><!--상단 메뉴 인클루드--><% include ./top_index.ejs %></td>
	<br><br><br>
    <div class="row">
      
        <div class="col-lg-12">
          
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
          <br>
          <a href='/prolist' class="btn btn-secondary hoverbtn">
                      <img class="img-circle img-responsive img-center" src="/images/covernat.jpg"with="10" height="300" alt="" id="theater">
          </a>
        </br>
          
        </div>
        
        </br>   
          
  
          <br>
          <br>
          <br>
        </div>

    </div>
</body>
</html>