<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    
      <title>Prolist</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height: 200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
        .well {
            height: 60px;
            width: 100vw;
            color: black;
            background-color: #7a0000;
            padding: 10px 0px 30px 10px;
        }
    </style>
</head>
<body style="overflow:hidden;background-color:#f0f0f0;">
       <div style="overflow:scroll; width:100vw; height:100vh;">

   <td><!--상단 메뉴 인클루드--><% include ./top_index.ejs %></td>
   <br><br><br>
    <div class="row">
      
        <div class="col-lg-12">
          
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
          <br>
          <a href='/prolist' class="btn btn-secondary hoverbtn">
                      <img class="img-circle img-responsive img-center" src="/images/covernat.jpg"with="50" height="550" alt="" id="theater">
          </a>
        </br>
          
        </div>
        <div class="col-lg-6 col-sm-6">
        <br>
        <div class="container">
            <h3 class="font-weight-bold" style="color: #810707;">PRODUCT INFO</h3>
            <br><br>
            <form id="joinForm" action='/proregi' method='post'  enctype = "multipart/form-data">
                <table class="table table-striped" width="200" height="350">
                    <input type="hidden" name="team_id"/>
                    <tr>
                        <th>브랜드</th>
                        <td>커버낫</td>
                    </tr>
                    <tr>
                        <th>상품명</th>
                        <td>하와이 오션 티셔츠 화이트</td>
                    </tr>
                    <tr>
                        <th>옵션</th>
                        <td><select name="option" id="option">
                                <option value ="S">S</option>
                                <option value ="M">M</option>
                                <option value ="L">L</option>
                                <option value ="XL">XL</option>
                                <option value ="XXL">XXL</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th>상품소개</th>
                        <td>하와이의 해변사진 그래픽과 커버낫을 세리프 폰트로 표현</td>
                    </tr>
                    <tr>
                        <th>상품가격</th>
                        <td><del  style="color: #808080;">
                            32,000</del>&nbsp&nbsp
                            23,400원</td>
                    </tr>
                    <tr>
                        <th>평점</th>
                        <td>★★★★☆</td>
                    </tr>
            </table>
                   
        </br>   
        <div align="center">
            <button type="submit" class="btn btn-info">장바구니<i class="fa fa-check spaceLeft"></i></button>
            <button type="button" class="btn btn-danger" onclick="location.href='/deliverForm' ">상품구매<i class="fa fa-times spaceLeft"></i></button>
        </div>
        
          <br>
          <br>
          <br>
        </div>
        

    </div>
    <div class="container-fluid">
    <div class="well"><h5><span style="color:white">구매 후기</span></h5></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>구매자</th>
                    <th>사이즈</th>
                    <th>후기</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>김태훈</td>
                    <td>S</td>
                    <td>옷이 너무 큽니다. 평소 사이즈보다 작게 선택하는게 나을 듯!</td>
                </tr>
                <tr>
                    <td>전영팡</td>
                    <td>XXL</td>
                    <td>사진이랑 똑같아요! 재질도 좋고, 가격대비 좋은 듯!!</td>
                </tr>
                <tr>
                    <td>김수진</td>
                    <td>M</td>
                    <td>평소에 입고 다니기 좋아요~!</td>
                </tr>
            </div>
        </div>
</body>
</html>