<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    
      <title>ICS</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height: 200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>
</head>

<body style="overflow:hidden;background-color:#f0f0f0;">
    
<header>
    <td><!--상단 메뉴 인클루드--><% include ./top2_seller.ejs %></td>
</header>

<div class="container">
    <h1 style="color: #810707;">ADD PRODUCT</h1>
    <br>
    <form id="joinForm" action='/proregi' method='post'  enctype = "multipart/form-data">
        <table class="table table-striped" width="400">
            <input type="hidden" name="team_id"/>
            <tr>
                <th>브랜드</th>
                <td>
                    <input type="text" name="show_name" id="show_name" required size="12" maxLength="12" placeholder="브랜드 명">
                </td>
            </tr>

            <tr>
                <th>상품명</th>
                <td>
                    <input type="text" name="show_member" id="show_member" size="50" maxLength="50" placeholder="상품명을 입력하세요">
                </td>
            </tr>

            <tr>
                <th>카테고리</th>
                <td><select name="show_genre" id="show_genre">
                        <option value ="OUTER">OUTER</option>
                        <option value ="TOP">TOP</option>
                        <option value ="BOTTOM">BOTTOM</option>
                        <option value ="SHOES">SHOES</option>
                        <option value ="ACC">ACC</option>
                    </select></td>
            </tr>

            <tr>
                <th>시즌/성별</th>
                <td>
                    <input type="text" name="show_start" id="show_start" size="15" maxLength="15" placeholder="시즌">
                    <input type="text" name="show_end" id="show_end" size="15" maxLength="15" placeholder="성별">
                </td>
            </tr>

            <tr>
                <th>상품 소개</th>
                <td>
                    <textarea name="show_intro" id="show_intro" cols="40" rows="10" required placeholder="자신의 상품에 대해 설명하세요!"></textarea>
                </td>
            </tr>

            <tr>
                <th>상품 가격</th>
                <td>
                    <input type="text" name="show_cost" id="show_cost" size="50" maxLength="30" placeholder="원래 상품 가격">
                </td>
                
            </tr>
            <tr>
                <th>할인된 상품 가격</th>
                    <td>
                        <input type="text" name="show_cost" id="show_cost" size="50" maxLength="30" placeholder="할인 할 상품 가격, 할인이 싫다면 0 기입!">
                    </td>
            </tr>
            <tr>
                <td>이미지</td>
                <td>
                    <input type="file" name="image" id="image" accept="image/*" required>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <center>
                        <input type="submit" class="btn btn-success" id="btnJoin" name="join" value="상품 등록">
                        <input type="reset" class="btn btn-danger" name="cancel" value="취소" onclick="location.href='/seller' ">
                    </center>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>
