<!DOCTYPE html>
<html lang="en">
    <style>
        .well {
         height: 30px;
         width: 100vw;
         color: black;
         background-color: #7a0000;
         padding: 10px 0px 30px 10px;
        }
        .container{
          margin: 20px 0px 20px 10px;
        }
        </style>
<head bgcolor="white">
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ICS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
</head>

<body style="overflow:hidden;background-color:#f0f0f0;">
  <div style="overflow:scroll; width:100vw; height:100vh;">
  <td><!--상단 메뉴 인클루드--><% include ./top_index.ejs %></td>
  <!-- Navigation -->
  <header>
    <nav>

    </nav>
  </header>


    <br>
    <br>
    <br>
    
    <!-- 카테고리 : S -->

    <div class="row">
        
      <div class="col-lg-12">
        <h3><span style="color:black"><p style="text-align: center;">TOP</span></h3></p>
        <br><br>
        <h6><span style="color:#810707"><p style="text-align: center;"><b>All&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp긴팔티셔츠&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp맨투맨&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp후드&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp니트</b></span></h6></p></style>
        <br><br>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <br>
        <a href='/prolist' >
                    <img class="img-circle img-responsive img-center" src="/images/mariaedebien.jpg"with="10" height="300" alt="" id="theater">
        </a>
      </br>
        <b>MARIAGEDEBIEN</b>
        <div>네온그린 티셔츠</div>
        <div>
          <del  style="color: #808080;">
          59,000</del>&nbsp&nbsp
          53,985원
        </div>
        <br>
        <br>
        <br>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
      <br>
        <a href='/list/뮤지컬'>
                    <img class="img-circle img-responsive img-center" src="/images/nerdy.jpg" with="10" height="300" alt="" id="musical">
        </a>
      </br>   
        <b>NERDY</b>
        <div>레이어드 로고 반팔 디셔츠 블랙</div>
        <div>
          49,000원
        </div>

        <br>
        <br>
        <br>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <br>
        <a href='/list/공연'>

                    <img class="img-circle img-responsive img-center" src="/images/graver.jpg" with="10" height="300"alt="" id="performance">
        </a>
        </br>
        <b>GRAVER</b>
        <div>[UNISEX]드로잉하트 로고 화이트클립 반팔티_네이비</div>
        <div>
          <del  style="color: #808080;">
            270,000</del>&nbsp&nbsp
            31,500원
        </div>
        <br>
        <br>
        <br>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
      <br>
        <a href='/list/기타'>

                    <img class="img-circle img-responsive img-center" src="/images/IH_NOM_UH_NIT.jpg" with="10" height="300"alt="" id="etc">
        </a>
      </br>
        <b>IH NOM UH NIT</b>
        <div>20SS 아카이브 반팔 두가지 NUS20232</div>
        <div>
          <del  style="color: #808080;">
            139,000</del>&nbsp&nbsp
            131,900원
        </div>
        <br>
        <br>
        <br>
      </div>

      <br>
      <br>
      <br>
    </div>
    <hr>

  
    <script>
  
      var divdiv = document.getElementById("scrollDiv");
      
      divdiv.scrollTop = divdiv.scrollHeight;
      
      </script>
      
      <body>
      
      <div id="scrollDiv" style="overflow:auto" ></div>
      
      </body>
      
    <script>
      $("a.hoverbtn").hover(function() {
        console.log($(this)[0].children[0].id);
        switch ($(this)[0].children[0].id) {
          case "theater":
            $(this)[0].children[0].src ="/images/shirt.jpg";
            break;
          case "musical":
            $(this)[0].children[0].src ="/images/shirt.jpg";
            break;
          case "performance":
            $(this)[0].children[0].src = "/images/shirt.jpg";
            break;
          case "etc":
            $(this)[0].children[0].src ="/images/shirt.jpg";
            break;
        }
      }, function() {
        switch ($(this)[0].children[0].id) {
          case "theater":
            $(this)[0].children[0].src = "/images/shirt.jpg";
            break;
          case "musical":
            $(this)[0].children[0].src ="/images/shirt.jpg";
            break;
          case "performance":
            $(this)[0].children[0].src ="/images/shirt.jpg";
            break;
          case "etc":
            $(this)[0].children[0].src = "/images/shirt.jpg";
            break;
        }
      });
    </script>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Software Engineering Project </p>
          <button type="/admin" class="btn btn-default" onclick="location.href='/admin';">Administrator</button>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

      <!-- /.sns share -->
      <script type="text/javascript">
        function toSNS(sns, strTitle, strURL) {
          var snsArray = new Array();
          var strMsg = strTitle + " " + strURL;
          var image = "/images";

          snsArray['twitter'] = "http://twitter.com/home?status=" + encodeURIComponent(strTitle) + ' ' + encodeURIComponent(strURL);
          snsArray['facebook'] = "http://www.facebook.com/share.php?u=" + encodeURIComponent(strURL);
          snsArray['google'] = "https://plus.google.com/share?url=" + encodeURIComponent(strURL) + "&t=" + encodeURIComponent(strTitle);
          window.open(snsArray[sns]);
        }

        function copy_clip(url) {
          var IE = (document.all) ? true : false;
          if (IE) {
            window.clipboardData.setData("Text", url);
            alert("이 글의 단축url이 클립보드에 복사되었습니다.");
          } else {
            temp = prompt("이 글의 단축url입니다. Ctrl+C를 눌러 클립보드로 복사하세요", url);
          }
        }
      </script>
      </head>

      <body style="overflow:hidden;background-color:#f0f0f0;">
        <div class="sns_wrap">
          <p>SNS share</p>
          <ul>
            <li><a href="javascript:toSNS('facebook','공유제목!','http://localhost:3000')" title="페이스북으로 가져가기"><img src="/images/sns_facebook.png"></a>
            <a href="javascript:toSNS('twitter','공유제목!','http://localhost:3000')" title="트위터로 가져가기"><img src="/images/sns_twitter.png"></a>
            <a href="javascript:toSNS('google','공유제목!','http://localhost:3000')" title="구글플러스로 가져가기"><img src="/images/sns_google.png"></a></li>
          </ul>


    </footer>

    <!-- jQuery -->
    
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>