<nav class="navbar navbar-expand-md  ">

      <button class="navbar-toggler navbar-toggler-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline m-0" method="get" action="/list/search">
          <input class="form-control mr-2" type="text" placeholder="Search" name="Search" id="Search">
        </button>
        </form>
        <a href='/search' class="btn hoverbtn">
            <img class="img-circle img-responsive " src="/images/search.png" with="25" height="25" alt="" id="search">
        </a>
    </div>

  <div class="text-right">
    <ul class="nav nav-tabs"> 
      <li class="nav-item">
        <a class="nav-link" href="/userinfo"><span style="color:black">CUSTOMER MANAGEMENT</span>
          <br> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"><span style="color:black">LOGOUT</span>
          <br> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin_mypage"><span style="color:black">MYPAGE</span>
          <br> </a>
      </li>
    </ul>
  </div>
</nav>


<br><br>
<div class="text-center">

      <div col-md-3>
        <span class="input-group-btn" > 
          <a class="nav-link" href="/"><span style="color: #810707"><h1><strong>ICS</strong></h1></span>
      </div>
</div>

</a> 
</br></br>
  <div class="">
    <div class="container-fluid">
        <div class="">
          <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link"  href="/"><span style="color:black">MAIN</span>
                    <br> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/list"><span style="color:black">NEW</span>
                <br> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list"><span style="color:black">BEST30</span>
                  <br> </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/list/no-1"><span style="color:black">OUTER</span>
                <br> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list/no-2"><span style="color:black">TOP</span>
                <br> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list/no-3"><span style="color:black">BOTTOM</span>
                <br> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list/no-4"><span style="color:black">SHOES</span>
                <br> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">
                  <i class="fa fa-fw fa-shopping-cart"></i><span style="color:black">ACC</span>
                  <br> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
